fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
sentence-transformers
scikit-learn
pandas
numpy
python-multipart
bcrypt
deepl